/* Homepage CSS*/

/* background photo is from https://www.vecteezy.com/vector-art/464264-dog-seamless-pattern-theme-bone-paw-foot-print-for-use-as-wallpaper-or-background
   Photo by: Unknown

   Found coding info here: https://developer.mozilla.org/en-US/docs/Web/CSS/background-image

*/
body{
  /*background-image: url('background.jpg');*/
  background-size: 150px;
  /*color: rgba(225, 225, 225, 0.63); */
  /* Background image opacity: https://coder-coder.com/background-image-opacity/*/
}

body::before {
  background: url(https://www.vecteezy.com/vector-art/464264-dog-seamless-pattern-theme-bone-paw-foot-print-for-use-as-wallpaper-or-background);
  content: "";
  opacity: 0.5;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  opacity: 0.4;
  /*color: rgba(225, 225, 225, 0.63);   */
}


/* Found this on stack overflow:
https://www.w3schools.com/jsref/event_onclick.asp

It is used to change the text color of the navbar. We have to 
drill down to the exact text of the navbat which lives under
li and a tags.
*/
.navbar.navbar-expand-lg.navbar-light.bg-secondary li a{
  color:white;
}

/* Similar to above, we want to change the text color of
the 'logo' in the navbar
*/
.navbar.navbar-expand-lg.navbar-light.bg-secondary a{
  color:white;
}

.navbar.navbar-expand-lg.navbar-light.bg-secondary{
  opacity: 0.85
}


.ClassHeader{
	margin-top: 20px;
	padding-bottom: 20px;
	padding-top: 10px;
	align-self: center;
	text-align: center;
  font-family: ariel;
  color: rgba(0,0,0,1);
  background-color: rgba(255,255,255,0.4)
}

#classId{
  margin-bottom: 20px;
  color: rgba(108,117,125, 1);
  text-align: center;
  /*text-shadow: 2px 2px 5px #000000;*/
}

.classesExplained{
  margin-top: 5%;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
  background-color: rgba(255,255,255,0.4)

}

.text-center{
  margin-top: 5%;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
  background-color: rgba(255,255,255,0.6)
}

.card{
  position: relative;
  margin-top: 40px;
  margin-left: 15%;
  margin-right: 15%;
  padding-bottom: 10px;

}

.contianer{
  position: relative;
  margin-top: 100px;
  margin-left: 15%;
  margin-right: 15%;
  background-color: rgba(255, 255, 255, 0.8)
}

.no-display {display: none;}

.footer{
  margin-top: 20%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  align-self: center;
  width: 100%;
  background-color: rgb(108,117,125, 0.85);
  color: white;
}